//Dark Mode
.custom-switch {
  position: relative;
  #dark-mode-switch {
    position: absolute;
    padding: 20px;
    height: 35px;
    width: 35px;
    margin: 0;
    &::before {
      content: "";
      position: absolute;
      background-color: black;
      width: 35px;
      height: 35px;
    }
    &::after {
      content: "\e963";
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      width: auto;
      height: auto;
      font-size: 22px;
      position: absolute;
      top: 5px;
      color: white;
    }
  }
}
body.dark-mode {
  $dark-mode-bg-color: #121212;
  background: $dark-mode-bg-color;
  color: white;
  a {
    color: #0271e3;
  }
  h1, .h1, h2, .h2, .views-title-center .viewsreference--view-title, h3, .h3, h4, .h4, h5, .h5, h6, .h6,
  .lc-header, .viewsreference--view-title, .block-title:not([id$="-menu"]), .lc-header-field .field-label, form#views-exposed-form-news-latest-news-block .form-item-search label {
    color: #fff;
  }
  nav.sub-menu-block, nav.menu--desktop-megamenu {
    background-color: $dark-mode-bg-color;
    ul.list-unstyled a {
      color: white !important;
    }
  }
  p.lc-callout, blockquote.lc-callout {
    background: none;
    color: #e3cd57;
  }
  .block-lime-zurb-breadcrumbs nav {
    background-color: $dark-mode-bg-color;
    ul.breadcrumbs li a, ul.breadcrumbs li span {
      color: white;
    }
  }
  .splash-header, .paragraph--type--splash-header {
    opacity: 1;
    &::before {
      box-shadow: inset 0px 0px 0px 111.11111rem rgba(0, 0, 0, 0.4);
      opacity: 1;
    }
  }
  .bg-l-gray {
    background-color: #000000;
    color: #e7e7e7;
  }
  .background-darkblue, .bg-darkblue {
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
      color: white;
    }
  }
  .card {
    background-color: #ddd;
  }
  //Dark Mode Switch
  .custom-switch {
    #dark-mode-switch {
      &::after {
        content: "\e962";
        top: 6px;
        left: -4px;
      }
    }
  }
  .flexslider {
    background: none;
    border: none;
    color: white;
  }
}
